[project]
	description = Finance
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Rajendra (Hiremath)
[access "refs/for/refs/*"]
	read = group user/Rajendra (Hiremath)
	push = group user/Rajendra (Hiremath)
	label-Code-Review = -2..+2 group user/Rajendra (Hiremath)
	label-Verified = -1..+1 group user/Rajendra (Hiremath)
	rebase = group user/Rajendra (Hiremath)
	removeReviewer = group user/Rajendra (Hiremath)
	submit = group user/Rajendra (Hiremath)
[access "refs/heads/*"]
	read = group user/Rajendra (Hiremath)
	create = group user/Rajendra (Hiremath)
	push = +force group user/Rajendra (Hiremath)
	pushMerge = group user/Rajendra (Hiremath)
[access "refs/tags/*"]
	push = +force group user/Rajendra (Hiremath)
	pushTag = group user/Rajendra (Hiremath)
	pushSignedTag = group user/Rajendra (Hiremath)
